@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Online Shop</h1>
    <h3>Browse <a asp-area="" asp-controller="Products" asp-action="Index">All Products</a></h3>
</div>
