@model EditProductCommand
@{
    ViewData["Title"] = $"Edit {Model.Name}";
}

<h2>Edit @Model.Name</h2>
<form method="post" enctype="multipart/form-data" asp-area="Admin" asp-controller="Products" asp-action="Edit">
    <input type="hidden" name="page" value="@this.ViewData[Constants.ControllerViewData.FromPageKey]" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name" required></label>
            <input asp-for="Name" class="form-control" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" type="number" step="0.01" class="form-control" required>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Weight"></label>
            <input asp-for="Weight" type="number" step="0.01" class="form-control" required>
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Code" required></label>
            <input asp-for="Code" class="form-control" required>
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group col-md-9">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control" required>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-check form-check-inline col-md-1">
            <input asp-for="IsOnSale" class="form-check-input">
            <label asp-for="IsOnSale" class="form-check-label"></label>
        </div>
        <div class="form-group form-check form-check-inline col-md-1">
            <input asp-for="IsArchived" class="form-check-input">
            <label asp-for="IsArchived" class="form-check-label"></label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="10" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="StockAvailable"></label>
            <input asp-for="StockAvailable" type="number" class="form-control" required>
            <span asp-validation-for="StockAvailable" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="MaxStock"></label>
            <input asp-for="MaxStock" type="number" class="form-control" required>
            <span asp-validation-for="MaxStock" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Type"></label>
            <select asp-for="Type" asp-items="Model.ProductTypeSelectListItems" class="form-control">
                <option selected="selected" value="">Please select Type</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save Changes</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}